defaults:
  - setup
  - callbacks: wm_default
  - datamodule: wm_debug_crssm
  - world_model: dreamer_v2_lstm
  - trainer: wm_lstm_train
  - logger: wandb
  - _self_

  - override hydra/job_logging: colorlog
  - override hydra/hydra_logging: colorlog

script: wm_lstm_train
comment: "lstm_20epochs"

hydra:
  run:
    dir: ${log_dir}/runs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: ${log_dir}/runs/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.override_dirname}
  job:
    config:
      override_dirname:
        exclude_keys:
          - log_dir
          - datamodule.root_data_dir
